* {
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.container{
    background: -webkit-linear-gradient(top, #000, rgb(47, 30, 66));
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    text-align: center;
    color: white;
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile h1 {
    margin-top: 20px;
}


.profile-img {
    height: 200px;
    border-radius: 25%;
}

ul {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

li {
    list-style: none;
    margin: 0 1rem;
    display: flex;
}

ul:first-of-type li a{
    height: 50px;
    width: 50px;
    display: block;
    background-color: white;
}

.projects {
    display: flex;
    flex-direction: column;
    width: 35%;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 36px;
}

.projects h1{
    margin-bottom: 8px;
}

.projects div{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
}

.projects a {
    text-decoration: none;
    border: darkgray 0px solid;
    border-radius: 15px;
    padding: 4px 12px;
    margin: 4px;
    background-color: white;
    font-weight: 600;
}

a:any-link {
    color: rgb(0, 0, 0);
}

a:hover {
    background-color: darkgray
}
.github {
    -webkit-mask-image: url(./images/github.svg);
    mask-image: url(./images/github.svg);
}

.linkedin {
    -webkit-mask-image: url(./images/linkedin.svg);
    mask-image: url(./images/linkedin.svg);
}

.gmail {
    -webkit-mask-image: url(./images/gmail.svg);
    mask-image: url(./images/gmail.svg);
}