* {
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    background: -webkit-linear-gradient(top, #000, rgb(47, 30, 66));
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    color: white;

}

.profile {
    height: 12rem;
    border-radius: 25%;
    margin-bottom: 2rem;
}

ul {
    display: flex;
    margin: 2.5rem 0;
}

li {
    list-style: none;
    margin: 0 1rem;
    display: flex;
}

ul:first-of-type li a{
    height: 50px;
    width: 50px;
    display: block;
    background-color: white;
}

.projects {
    display: flex;
    width: 35%;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 1rem 0;
}

.projects a {
    text-decoration: none;
    border: darkgray 0px solid;
    border-radius: 15px;
    padding: 4px 12px;
    margin: 4px;
    background-color: white;
    font-weight: 600;
}

a:any-link {
    color: rgb(0, 0, 0);
}

a:hover {
    background-color: darkgray
}
.github {
    -webkit-mask-image: url(https://unpkg.com/simple-icons@v4/icons/github.svg);
}

.linkedin {
    -webkit-mask-image: url(https://unpkg.com/simple-icons@v4/icons/linkedin.svg);
}

.gmail {
    -webkit-mask-image: url(https://unpkg.com/simple-icons@v4/icons/gmail.svg);
}